{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="clearfix"></div>
                <h2 class="section-heading heading-one">Who are we?</h2>
                <hr class="section-heading-spacer">
                <p class="lead"><br><br>
                    Textile Fabric Consultants, Inc. was founded by Nancy Oxford in 1981. As a new college textiles instructor, she wanted to use a textiles swatch kit in her class. She could not find one that fit the needs of her particular class. She developed her own kit with the help of her roommate, Nancy Hobbs. Textiles instructors at other colleges and universities found out about the swatch kits and requested to use them in their classrooms. Before long, Nancy and Nancy were making hundreds of swatch kits for numerous universities. Nancy soon bought out her partner, Nancy Hobbs, and began producing the kits on her own.<br><br>

                    TFC became affiliated with Prentice Hall Publishing Company (Macmillan at the time) to produce swatch kits that corresponded directly with their textiles textbooks. The swatches were and still are in order as they are discussed in the textbook. The cross referencing of the textbook and swatch kit provide an excellent permanent reference for the students. <br><br>

                    Nancy began by cutting the swatches by hand in her home. As the business began to grow, she outgrew the space in her home. She then built a 700 square foot attached garage and began assembling and selling the kits from there, all while continuing to teach full time. In 1991, Nancy no longer could run the business and teach. She hired Amy Willbanks, one of her former college students, to run the business. <br><br>

                    The business continued to flourish and moved to a larger warehouse in 1996. TFC has doubled its facility twice since then and continues to be a strong viable company in textile education. We now have several employees, including Amy Gardner our Marketing Director. <br><br>

                    Nancy Oxford still owns the company today. She is an assistant professor of textiles at Middle Tennessee State University. Her diligent efforts and those of her dedicated employees to provide her students with a comprehensive quality swatch kit have made Textile Fabric Consultants, Inc. what it is today. <br><br></p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading col-md-3 col-md-offset-9 heading-two">Our Service</h2>
                <hr class="section-heading-spacer col-md-3 col-md-offset-9"><br>
                <p class="lead clearfix"><br><br>
                    We are committed to meeting the needs of our customers, employees, community and the environment.<br><br>

                    How we serve our customers? We take pride in meeting the needs of our customers, accurately and efficiently by providing excellent customer service. We have no high tech automated telephone menus to go through; you get a warm friendly voice when you call during office hours. <br><br>

                    How we serve our employees? TFC cares for its employees by providing a friendly and safe working environment. We instill in each employee the desire and drive to truly care about their work by encouraging them and allowing them the opportunity to grow with our company. TFC values its employees and justly awards them for their meticulous attention to details that ensure our customers are satisfied. <br><br>

                    How we serve our community? TFC believes strongly in giving back to the community. So many companies help us by donating fabrics to keep our costs down for the swatch kits. We, in turn, donate our extra fabric scraps to local churches, Girl Scout troops and animal adoption shelters. We consider it an honor to be able to provide these fabrics to these organizations at no cost. <br><br>

                    How we serve our environment? TFC is constantly researching areas of sustainability. Recycling is just one of the ways we contribute to the preservation of our environment. We reuse packing materials, recycle cardboard, plastic and aluminum. Our fabric scraps are donated to community groups. TFC also keeps our customers informed about sustainable products by including sustainable textiles in the swatch kits and information on sustainability in our monthly newsletters. <br><br> </p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading heading-two">Our mission</h2>
                <hr class="section-heading-spacer">
                <p class="lead"><br><br>
                    Our mission is to provide quality textile education products by upholding our core values as outlined below:
                    <br><br>

                    We strive to exceed our customers' expectations in quality, delivery, and cost through continuous improvement and customer interaction.<br><br>

                    We set the industry standard in service to customers.<br><br>

                    We maintain a superior level of integrity in interactions with our customers, business partners and associates.
                    <br><br>

                    We appreciate our achieved success and we conduct our business as model corporate citizens.<br><br>

                    We do our best to provide the timely delivery of products whose performance and appearance are in accordance with our tradition of high manufacturing standards. <br><br>

                    We sustain our mission by constantly seeking renewal via continuous education and learning, and the application of new technologies and best business practices. <br><br>

                    We provide a pleasant, nurturing and growth oriented environment which encourages our employees to be highly productive and to grow personally and professionally <br><br>
                </p>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
{% endblock %}
